/* ABOUT PAGE CSS */
/*
***
* Refer to commonStyle.css for CONTENT PAGE
***
*/
/* This style sheet specially caters to About Page */

main-panel {
	width: 98%;
	margin: 20px;
	font-size: 1rem;
}
.panel {
	margin: 20px;
	padding: 20px;
}
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}
.embed-container iframe, 
.embed-container object, 
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
ul {
	padding-left: 30px;
}
.responsive {
	width: 100%;
	height: auto;
    
}
.responsive.parent {
	padding-left: 30px;
	padding-right: 30px;
}

#chartimg {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    border: 1px solid #000000; // black
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* black, black */
}