#main-panel {

    width: 98%;
    margin: 20px;
    font-size: 1rem;

}

.responsive {
    width: 80%;
    height: auto;
}

.responsive.parent {
    padding-left : 30px;
    padding-right : 30px;
    
}

h5 {
    font-weight: bold;
    text-decoration: underline;
}

