.panel {
    border: 1px solid white;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    padding: 10px;
}

bg-white {
    background: white;
}

bg-dark {
    background: rgb(52,58,64);
}



#header-panel{
    line-height: 1rem;
    margin: 1%;
    width: 98%;
    font-size:1.2rem;
    overflow: hidden;
}

#logo {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

#pageTitle {
    display: inline-block;
    line-height: 1.5rem;
    vertical-align: middle;
    font-size: 1.7rem;
    padding-left: 2rem;
}

#control-panel{
    line-height: 1rem;
    margin: 1%;
    width: 98%;
    font-size:1rem;
}



.myButton {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:12px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.myButton:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.myButton:active {
	position:relative;
	top:1px;
}


#control-panel label {
    color: white;
    
}