.panel {
    border: 1px solid white;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    padding: 10px;
}

bg-white {
    background: white;
}

bg-dark {
    background: rgb(52,58,64);
}



#header-panel{
    line-height: 1rem;
    margin: 20px;
    width: 98%;
    font-size:1.2rem;
    overflow: hidden;
}

#logo {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

#pageTitle {
    display: inline-block;
    line-height: 1.4rem;
    vertical-align: middle;
    font-size: 1.6rem;
    padding-left: 1rem;
}

#control-panel{
    line-height: 0.5rem;
    margin: 20px;
    width: 98%;
    font-size:1rem;
        
}



.myButton {
	box-shadow: 8px 8px 10px 0px #9fb4f2;
	background:linear-gradient(to bottom, #3873d9 5%, #0537ff 100%);
	background-color:#3873d9;
	border-radius:28px;
	border:1px solid #001554;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:20px 40px 20px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #030305;
    margin-left: -10px;
    
}
.myButton:link {
    color: #ffffff;
	text-decoration:none;
}
.myButton:visited {
    color: #ffffff;
	text-decoration:none;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0537ff 5%, #3873d9 100%);
	background-color:#ffffff;
    color: #ffffff;
	text-decoration:none;
}
.myButton:active {
	position:relative;
	top:1px;
    color: #ffffff;
	text-decoration:none;
}




#dateRange {
    margin-top: 5px;
    display:inline-block;
    vertical-align: text-bottom;
    background-color:#FFFFFF;
    padding: 8px 25px;
    border: 1px solid black;
    line-height: 2rem;
    
}

input[type="date"] {
    height: 2rem;

}

#startDate, #endDate {
    width: 200px;
}

#canvas-panel{
    line-height: 0.5rem;
    margin: 20px;
    margin-top:30px;
    width: 98%;
    font-size:1rem;
    height: 100%;
    border: 1px solid grey;
    background: #eeeeee;
        
}

.chart-container{
    position: relative; 
    height:50vh; 
    width:98%;

}


#chart{
    width:100%;
    height:300px;
}

